{{> above}}
<p>

    LATER: instructions for using oEmbed


</p>
<h2>Test <code>iframe</code>s</h2>
<h3>1024w by 250</h3>
<iframe src="https://api.vectorlogo.zone/oembed/iframe.html?logohandle={{logohandle}}" width="1024" height="250"></iframe>

<h3>800w by 250</h3>
<iframe src="https://api.vectorlogo.zone/oembed/iframe.html?logohandle={{logohandle}}" width="800" height="250"></iframe>

<h3>700w by 475h</h3>
<iframe src="https://api.vectorlogo.zone/oembed/iframe.html?logohandle={{logohandle}}" width="700" height="475"></iframe>

<h3>500w by 425h</h3>
<iframe src="https://api.vectorlogo.zone/oembed/iframe.html?logohandle={{logohandle}}" width="500" height="425"></iframe>

<h3>300w by 375h</h3>
<iframe src="https://api.vectorlogo.zone/oembed/iframe.html?logohandle={{logohandle}}" width="300" height="375"></iframe>

<h2>Links</h2>
<ul>
    <li><a href="http://oembed.com/">oEmbed spec</a></li>
    <li><a href="https://embed.ly/providers/new">Embedly</a></li>
    <li><a href="https://embed.ly/providers/validate/oembed">Embedly Validator</a></li>
</ul>

{{> below}}